.MuiToolbar-root {
    justify-content: space-between;
}

@media (min-width: 768px) {
    .makeStyles-root-1 {
        margin-left: 6% !important;
        margin-top: 6% !important;
        margin-right: 6px !important;
    }
}

.MuiTabs-flexContainer {
    justify-content: space-between
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}